.pay-warp {
  padding: 18px 0 0 20px;
  dl {
    margin-bottom: 20px;
    dt {
      font-size: 17px;
      color: #3A3A3A;
      font-weight: 400;
      margin-bottom: 20px;
    }
  }
}

.pay-grade {
  .grade-item {
    border-radius: 4px;
    margin-bottom: 10px;
  }
}

.goods-item {
  border-bottom: 1px solid #E5E5E5;
  box-sizing: border-box;
  padding: 15px 40px 23px 22px;
  span{
    font-size: 17px;
    color: #3A3A3A;
    margin-right: 4px;
    position: relative;
    top:-2px
  }
  b{
    font-size: 20px;
    font-weight: 500;
  }
  .btn{
    width: 94px;
    font-size: 15px;
    background-color:#FFC530;
    border: #FFC530;
  }
}